<center>
  <h1 style="position: absolute; padding-left: 45%;"><span style="color: #878f99">Note</span><span style="color: #6b5b95">taker</span></h1>
  <img src="http://172.30.191.103:8080/shot.jpg" id="img1" style="visibility: visible;">
  <img src="" id="img2" style="visibility: hidden;">
  <div class="text-block">
    <center>
      <p id="subtitle" fill=white stroke=black stroke-width=1></p>
    </center>
  </div>
</center>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
let recognition = new webkitSpeechRecognition();
recognition.continuous = true;
recognition.interimResults = true;
recognition.start();
let startTime;
let text = "";
let pointer = 0;

const setRecognition = () => {
    recognition.onresult = (event) => {
    if(text == "") {
      startTime = new Date();
    } else {
      let endTime = new Date();
      let timeDiff = endTime - startTime;
      timeDiff /= 1000;
      if(Math.round(timeDiff) >= 3) {
        document.getElementById('subtitle').innerHTML = '';
        startTime = new Date();
        console.log("erase");
      }
    }

    console.log(event);
    if(!event.results) return;
    let temp = "";
    for (let result of event.results) 
    {
        text += result[0].transcript;
        temp += result[0].transcript;
        console.log(temp);
    }
    let words = temp.split(" ")
    if(words.length >= 14) {
      words = words.slice(pointer);
      if(words.length >= 14) {
        pointer += 14;
        words = words.slice(pointer);
      }
      temp = words.join(" ");
    }
    $("#subtitle").html(temp);
  }
}
setRecognition()

recognition.onend = event => {
  recognition.start();
}

const URL = "http://172.30.191.103:8080"
let showing = $("#img1");
let working = $("#img2");
let jsSizeOk = false;
working.css("zIndex", -1);
var jsLoadImage = function() {
    var oldshowing = showing;
    showing = working;
    working = oldshowing;
    showing.css('visibility', 'visible')
    working.css('visibility', 'hidden')

    showing.unbind()
    working.load(jsLoadImage);
    working.attr("src", URL + "/shot.jpg?rnd="+Math.floor(Math.random()*1000000));
    if (!jsSizeOk) {
      jsSizeOk = true;
      $("#img2").css('margin-top', '-'+showing.height()+'px').css('display', 'block');
    }
  }

working.load(jsLoadImage)
working.attr("src", URL + "/shot.jpg?rnd="+Math.floor(Math.random()*1000000));
</script>

<style>
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  color: white;
  text-shadow: 7px 7px 7px #000000;
  text-align: center;
  bottom: 15%;
  padding-left: 12%;
  font-size: 40px;
  padding-right: 12%;
}

img{
  max-width: 1024px !important;
  max-height: 768px !important;
  display: block; /* remove extra space below image */
}

body
{
    background-color: #AFEEEE; 
}
</style>